/* MAIN SECTION HOMEPAGE*/

.works-home {
  display: grid;
  grid-template-areas:
    "work work work"
    "work work work";
}

a > figure {
  grid-area: work;
  margin: 0;
}

figure > img {
  width: 100%;
}
