* {
  font-family: "Roboto Condensed", serif;
}

/* HEADER */

body {
  margin: 0;
}

#logo {
  font-weight: 400;
  font-size: 2.5rem;
  padding-left: 10px;
  font-style: large;
}

menu {
  padding-left: 10px;
}

ul {
  font-weight: 300;
  font-size: large;
  list-style: none;
  padding: 0;
}

a {
  color: black;
}

.header-img {
  max-width: 100%;
}

/* MAIN */

/* MAIN SECTION */

.section-main{
  font-weight: 300;
  margin-top: 30px;
}

.text-main{
  width: 80%;
  float: inline-start;
}

.profile-img {
max-width: 20%;
float: inline-end;
}

/* FOOTER */

.icons{
  width: 2%;
  padding: 10px;
  float: inline-end;
}

.copyright{
float: inline-start;
}

footer {
  margin-top: 500px;
  border-top: 1px solid black;
}
